<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lägg till kund</title>
</head>
<body>
<h2> Lägg till kund</h2>
<form th:action="@{/kund/add}" method="post" th:object="${kund}">
    <input type="hidden" th:field="*{id}">
    <div> <label>förnamn</label>
        <input type="text" th:field="*{förnamn}" required minlength="2"/>
    </div>
    <div> <label>efternamn</label>
        <input type="text" th:field="*{efternamn}"/>
    </div>
    <div> <label>personnummer</label>
        <input type="text" th:field="*{ssn}"/>
    </div>
    <div> <label>email</label>
        <input type="text" th:field="*{email}"/>
    </div>
    <div> <label>mobilnummer</label>
        <input type="text" th:field="*{mobilnummer}"/>
    </div>
    <div> <label>stad</label>
        <input type="text" th:field="*{stad}"/>
    </div>
    <div> <label>adress</label>
        <input type="text" th:field="*{adress}"/>
    </div>
    <div>
        <button type="submit">Spara</button>
        <button type="button" onclick="window.location.href='/kund/all'" >Avbryt</button>
    </div>

</form>
</body>
</html>